.App {
  text-align: right;
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #fff;
  border-bottom: 2px solid #000;
  /*height: 150px;*/
  padding: 20px;
  color: #272727;
}
.Header-top .Header-bottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

a {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
